<!DOCTYPE html>
<html lang="en">


<style>
body{
	margin: 0;
	padding: 0;
	background: #fff;
    
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("http://www.counsellingsessionslondon.com/wp-content/uploads/2013/05/Counselling-630x400.jpg");
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(40% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

div { margin: 20px; }



.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login button{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.col

.login button{
	opacity: 0.8;
}

.login button{
	opacity: 0.6;
}

.login button{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login button{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

placeholder{
   color: rgba(255,255,255,0.6);
}



::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}


}
</style> 

<head>
  <meta charset="UTF-8">
  <title>Platform</title>

<script>
  function myfunction()
  {
  
  	alert("Signed Up Successfully")

}
</script>

</head>

<body>
  <div class="body"></div>
  <div class="grad"></div>
  <div class="header">
  <div>Simple Platform</div>
  </div>
  <br>
    <div class="login">
    <form method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="password" placeholder="password" name="quote">
    <button type="submit" formaction="/quotes">Sign In</button>
	<button type="submit" onclick="myfunction()" formaction="/signup">Sign Up</button>
  
    </div>
  </form>
  </div>

</body>
</html>
